@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, #root{
  height: 100%;
}

body{
  font-size: 12px;
  font-family: 'League Spartan', sans-serif;
}

:root{
  
  /* ### Primary */

  --DarkGray: hsl(0, 0%, 63%);
  --Black: hsl(0, 0%, 0%);
  --White: hsl(0, 0%, 100%);
  --VeryDarkGray: hsl(0, 0%, 27%);

}